Numerical3DMatching.sln
Numerical3DMatching.userprefs
bin/
obj/
*.targets
*.targets
*.props
*.cache
*.ide
*.dll
*.json
.vs/Numerical3DMatching/v15/.suo
bin/Debug/netcoreapp2.0/Numerical3DMatching.dll
bin/Debug/netcoreapp2.0/Numerical3DMatching.dll
bin/Debug/netcoreapp2.0/Numerical3DMatching.dll
bin/Debug/netcoreapp2.0/Numerical3DMatching.dll
bin/Debug/netcoreapp2.0/Numerical3DMatching.pdb
obj/project.assets.json
*.json
